$primary-color: #38214d;
$primary-light: #E9E0F0;
$secondary-light: #DFCEE9;
$primary-dark: #272727;
$secondary-dark: #161616;

@mixin horizontal-center() {
	position: relative;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}

@mixin nav-button() {
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    width: 90px;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.4);
    font-family: Bahnschrift, Verdana, Arial, sans-serif;
    &:hover {
        box-shadow: 0px 8px 6px 0 rgb(125 78 170 / 70%);
        text-decoration: underline;
        cursor: pointer;
    }
}

@mixin button-alternative() {
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    background-color: $primary-color;
    color: $primary-light;
    border: none;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.4);
    font-family: Bahnschrift, Verdana, Arial, sans-serif;
    &:hover {
        box-shadow: 0px 4px 3px 0 rgba(125, 78, 170, 0.4);
        text-decoration: underline;
        cursor: pointer;
    }
}

@mixin sections-base() {
    margin: 5%;
    padding: 5%;
    border-radius: 3px;
}

@mixin sections-537min() {
    margin: 35px auto;
    padding: 17px;
    width: 427px;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

@mixin hyphens() {
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@mixin break-all() {
    -ms-word-break: break-all;
    word-break: break-all;
}

@mixin wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

body {
    font-family: Bahnschrift, Verdana, Arial, sans-serif;
	overflow-x: hidden;
    position: absolute;
    width: 100%;
	margin: 0;
	line-height: 1.6;
    background-color: $secondary-dark;
}

h2 {
    color: $primary-light;
}

p {
    color: $secondary-light;
}

b {
    color: #daa8ed;
}

select,
input {
    width: 100%;
    padding: 2px;
    font-size: 14px;
    color: $primary-light;
    background-color: $secondary-dark;
    border: none;
    font-family: Bahnschrift, Verdana, Arial, sans-serif;
}

table {
    width: 100%;
    margin-top: 10%;
    font-size: 14px;
    tr {
        &:nth-child(odd) {
            background-color: $secondary-dark;
            color: $secondary-light;
        }
        &:nth-child(even) {
            background-color: $primary-color;
            color: $secondary-light;
        }
    }
}

.card {
    @include wrap();
    @include hyphens();
}

.card-area {
    margin: 16px 0;
}

.card-entries,
.card-subjects {
    display: inline-block;
    margin: 0;
}

.material-icons.md-18 {
    font-size: 18px;
    position: relative;
    top: 3px;
}

#dark-light-switch {
    margin: 5%;
    button {
        @include nav-button();
        @include horizontal-center();
        background-color: #E6FECD;
        color: $secondary-dark;
        border: solid 1.2px #E6FECD;
    }
}

#physical-creation,
#storage-area {
    background-color: $primary-dark;
    height: auto;
    border: solid 1px $primary-dark;
    @include sections-base();
}

#character-card {
    background-color: $primary-dark;
    border: solid 1px $primary-dark;
    @include sections-base();
}

#submit-button,
#physique-roller {
    @include nav-button();
    @include horizontal-center();
    background-color: $primary-color;
    color: $primary-light;
    border: none;
}

#show-hide-table {
    @include button-alternative();
    width: 100px;
}

#nav-section {
    margin: 5%;
    height: 31px;
    button {
        @include nav-button();
    }
}

#next {
    float: right;
    background-color: $primary-light;
    color: $secondary-dark;
    border: solid 1px $primary-light;
}

#previous {
    float: left;
    background-color: $secondary-dark;
    color: $primary-light;
    border: solid 1px $primary-light;
}

#show-hide-toggle {
    @include nav-button();
    @include horizontal-center();
    background-color: $primary-dark;
    color: $primary-light;
    border: solid 1px $primary-dark;
}




@media only screen and (min-width: 537px) {
    #physical-creation,
    #storage-area,
    #character-card,
    #card-display-toggle {
        @include sections-537min();
    }

    #nav-section {
        margin: 35px auto;
        padding: 17px 0;
        width: 463px;
    }
    
    #dark-light-switch {
        @include sections-537min();
    }
}


@media only screen and (min-width: 960px) {
    h2 {
		font-size: 26px;
	}

    p {
		font-size: 17px;
	}

    select,
    input,
    table {
    font-size: 15px;
    }

    body {
        display: grid;
        grid-template-columns: 533px auto;
    }

    .card-area {
        margin: 17px 0;
    }

    #row-1 {
        grid-row-start: 1;
        width: 100%;
    }

    #column-1 {
        grid-row-start: 2;
        grid-column-start: 1;
        @include flex-column();
    }

    #column-2 {
        grid-row-start: 2;
        grid-column-start: 2;
        @include flex-column();
    }

    #dark-light-switch {
        margin: 35px;
    }

    #storage-area {
        order: 1;
        margin: 35px;
    }

    #character-selector {
        margin: 18.5px 0px;
    }

    #physical-creation {
        order: 2;
        margin: 35px;
    }

    #nav-section {
        order: 3;
        margin: 35px;
    }

    #card-display-toggle {
        order: 1;
        width: auto;
        margin: 35px 35px 35px 0;
    }

    #show-hide-toggle {
        margin-top: 15.1px;
        margin-bottom: 15.1px;
    }

    #character-card {
        order: 2;
        width: auto;
        margin: 35px 35px 35px 0;
    }
}

@media only screen and (min-width: 1024px) {
    h2 {
		font-size: 28px;
	}

    p {
		font-size: 18px;
	}

    select,
    input,
    table {
    font-size: 16px;
    }

    .card {
        @include wrap();
        @include hyphens();
        @include break-all();
    }

    .card-area {
        margin: 18px 0;
    }
}