$primary-color: #6E3635;
$secondary-color: #E6FECD;
$primary-dark: #101010;
$secondary-dark: #3D3D3D;
$primary-light: #EFEDC0;
$secondary-light: #FBFBF0;

@mixin horizontal-center() {
	position: relative;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}

@mixin nav-button() {
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    width: 90px;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.4);
    &:hover {
        box-shadow: 1px 4px 3px 0 rgba(0,0,0,0.4);
        text-decoration: underline;
    }
}

@mixin button-alternative() {
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    background-color: $primary-color;
    color: $primary-light;
    border: none;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.4);
    &:hover {
        box-shadow: 1px 4px 3px 0 rgba(0,0,0,0.4);
        text-decoration: underline;
    }
}

@mixin sections-base() {
    margin: 5%;
    padding: 5%;
    border-radius: 3px;
}

body {
    font-family: Verdana, Arial, sans-serif;
	overflow-x: hidden;
    position: absolute;
    width: 100%;
	margin: 0;
	line-height: 1.6;
    background-color: $secondary-light;
}

h2 {
    color: $primary-color;
}

p {
    color: $secondary-dark;
}

select,
input {
    width: 100%;
    padding: 2px;
    font-size: 14px;
    color: $primary-dark;
    background-color: $secondary-light;
}

table {
    width: 100%;
    border: solid 1px $primary-color;
    margin-top: 10%;
    font-size: 14px;
    tr {
        &:nth-child(odd) {
            background-color: $secondary-light;
        }
        &:nth-child(even) {
            background-color: $secondary-color;
        }
    }
}

#physical-creation {
    background-color: $primary-light;
    height: auto;
    border: solid 1px $primary-color;
    @include sections-base();
}

#character-card {
    background-color: $primary-light;
    border: solid 1px $primary-color;
    @include sections-base();
}

#physique-roller {
    @include button-alternative();
    width: 100%;
}

#show-hide-table {
    @include button-alternative();
    width: 100px;
}

#nav-section {
    margin: 5%;
    height: 31px;
    button {
        @include nav-button();
        background-color: $primary-light;
        color: $primary-color;
        border: none;
    }
}

#next {
    float: right;
}

#previous {
    float: left;
}

#show-hide-toggle {
    @include nav-button();
    @include horizontal-center();
    background-color: $primary-light;
    color: $primary-color;
    border: none;
}